@{
    Layout = null;
    var title = ViewBag.Title ?? "BookStore";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@title - BookStore</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/site.js"></script>
</head>
<body>
    <div class="container-fluid p-0">
        @Html.Partial("_Navbar")
        <main class="container mt-4">
            @RenderBody()
        </main>
        @Html.Partial("_Footer")
    </div>
</body>
</html>
